/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  font-size: 1.6rem;
}
body {
  position: absolute;
  overflow-x: hidden;
}
html {
  font-size: 62.2%;
}
header {
  width: 100vw;
  background-color: #3400ff;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0%;
  height: 60vh;
}
header > nav {
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 200;
}
header > nav > a {
  margin-right: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.8rem;
}
.nav-item-active {
  background-color: aliceblue;
  border: 5px;
  color: blue;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
}
.logo {
  position: absolute;
  top: 4%;
  left: 3%;
}
.header-text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: aliceblue;
}
.header-text > h2 {
  font-size: 3rem;
}
.header-image {
  position: absolute;
  top: 13%;
  right: -1%;
  width: 37%;
}

.companies {
  padding: 1.5rem 0rem;
  margin-left: 3%;
}
.companies a {
  text-decoration: none;
  color: black;
  font-family: "Righteous";

  margin-right: 2em;
}
.api {
  width: 95%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.api-heading {
  margin-bottom: 4rem;
  margin-left: 2rem;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card {
  width: 15%;
  padding: 1.5rem;
}
.card > h3 {
  margin: 0.5rem 0rem;
}

.card-active > h3 {
  margin: 0.5rem 0rem;
}

.card-active {
  box-shadow: 0px 2px 4px rgb(182, 175, 175);
  padding: 1.5rem;
  border-radius: 5px;
}
.blog-heading {
  margin-left: 3%;
}
.blog-cards {
  width: 95%;
  margin: 0% auto;
  display: flex;
  flex-wrap: wrap;
}
.blog-card {
  width: 47%;
  display: flex;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 5%;
  outline: none;
  border: none;
  box-shadow: 10px 10px 10px rgb(118, 115, 115);
}
.blog-image {
  display: flex;
  order: 1;
  object-fit: cover;
  margin-right: 4rem;
}
.blog-author {
  display: flex;
  order: 2;
  margin-top: 0.5rem;
  width: 5rem;
}
.blog-author > b {
  font-size: 1.2rem;
}
.blog-content {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  order: 4;
  padding: 5px;
}

.blog-bottom {
  display: flex;
  order: 3;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 4rem;
  margin-left: 5px;
}
.faq-section {
  display: flex;
  justify-content: space-between;
  background-color: #e9edff;
}
.faq-content {
  margin: 2% 3%;
}
.faq-content > h2 {
  font-size: 2.5rem;
}

.faq-content button {
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  background-color: #5a31fc;
  color: aliceblue;
  margin: 1rem 0rem;
  border-radius: 3px;
}
.download-section {
  margin: 5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
form {
  border-radius: 3rem;
  border: 2px solid gray;
  padding: 2px 2px;
  background-color: #e9edff;
}
form input {
  border: none;
  outline: none;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
}
form button {
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  background-color: #3400ff;
  color: #e9edff;
}
.footer-section {
  background-color: #3400ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.list li {
  color: aliceblue;
  list-style: none;
}
.footer-right {
  color: #e9edff;
  padding-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logos-list {
  width: 20rem;
  display: flex;

  gap: 4rem;
  margin-top: 2rem;
  list-style: none;
}
.logos-list > li {
  color: white;
}

@media only screen and (max-width: 1450px) {
  .blog-card {
    width: 60%;
  }
  .blog-cards {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .blog-card {
    width: 70%;
  }
  .header-image {
    display: none;
  }

  .header {
    width: 100vw;
  }
  .faq-content {
    width: 100%;
  }
  .faq-image {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .footer-section {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-active {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .blog-card {
    flex-direction: column;
  }

  .download-section {
    flex-direction: column;
    height: 10rem;
  }
  form {
    position: absolute;
  }
  form > button {
    position: relative;
    top: 0%;
    right: 0%;
  }
  .download-email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-left {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .blog-card {
    box-shadow: none;
    border-bottom: 2px solid rgb(77, 72, 72);
  }
}
@media only screen and (max-width: 900px) {
  .blog-card {
    width: 90%;
  }
  header > nav {
    display: none;
  }
  .footer-section {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
